//stuff for the layout:

body {
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	* {

	    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

	}

}

:focus {
  outline-color: transparent;
  outline-style: none;
}

a.anchorLink {
	text-indent: -99999px !important;
    text-decoration: none !important;
    line-height: 1px !important;
    font-size: 1px !important;
    color: #ffffff !important;
    display: block !important;
    height: 0px !important;
}

/* white color for Text over BG: */
.inverted-color {

	color: @brand-white;

	a {
		color: darken(@brand-white, 10%); 
		/*color: inherit;*/
		&:hover {
			color: @brand-white;
		}
	}
}


section {


	&:not(.section-full){
		padding: 50px 0;
	}
	
	&.section1 {
		background-color: #ffffff;
	}
	&.section2 {
		background-color: #95a5a5;
		
	}
	&.section3 {
		background-color: #f2f5f5;
		
	}
	&.section4 {
		background-color: #f5f5f5;
		
	}
	&.section5 {
		background-color: #3c3c3b;
		.inverted-color;
	}
	&.section-bg {
		min-height: 450px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
    	background-attachment: fixed;
    	


		@media screen and (max-width: @screen-sm-max) {
			background-attachment: scroll;
		}
		   
/*
		&:before {
			content: ""; 
			background-image: inherit; position: fixed; top: 0; 
			left: 0; 
			height: 100vh; 
			width: 100%; 
			-webkit-background-size: cover !important; 
			-moz-background-size: cover !important; 
			-o-background-size: cover; 
			background-size: cover !important;
			z-index: -1;

		}
*/

		

	}
	
}

#footer {
	background-color: #000000;
	padding: 20px 0 5px;

	/*.inverted-color;*/
}



.topbar {
	padding-top: 11px;
	background-color: @brand-primary;
	.inverted-color;
	
	a {
		&.active {
			.bold;
		}
		&:hover {
			text-decoration: none;
		}
	}

}

.donate-section-trigger {
		border-top: 1px solid @brand-primary;
		overflow: hidden;
		margin-bottom: 10px;
		position: relative;
   		top: -1px;
   		

		.inverted-color;

		.donate-trigger {
			background-color: @brand-primary;
			width: 150px;
			margin: auto;
			text-align: center;
			cursor: pointer;
			position: relative;
			padding: 5px 0;
			
			text-transform: uppercase;


			&[aria-expanded='true'] .dt-open {
				display: none;
			}
			&[aria-expanded='false'] .dt-close {
				display: none;
			}

			&:before,
			&:after {
					content: "";
					background-color: inherit;
					width: 21px;
					height: 45px;
					position: absolute;
					left: -12px;
    				top: -15px;
				    transform: rotate(-28deg);
			}
			&:after {
				left: auto;
			    right: -12px;
			    transform: rotate(28deg);
			}
		}


}